{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    h1 {
        text-align: center;
    }
    .canal {
        border: 1px solid black;
        padding: 1em;
        margin-bottom: 1em;
    }
    .delete_canal {
        float: right;
    }
    #afegir_canal {
        padding: 1em;
        border-radius: 1em;
        background-color: #5eb5e0;
    }
    .edit_canal {
        display: inline;
        padding: 1em;
        border-radius: 1em;
        background-color: #8eeffc;
        float: right;
        margin-right: 1em;
        height: 3.5em;
    }
    .delete_canal button {
        display: inline;
        padding: 1em;
        border-radius: 1em;
        background-color: #fc2003;
        height: 3.8em;
    }
    /*#save {*/
    /*    background-color: #718C00;*/
    /*}*/
    /*.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
</style>


<h1>Canals</h1>

<div id="canals">

    {% for canal in canals %}
        <div class="canal">
            {{ include('canal/_delete_form.html.twig') }}
            <a href="{{ path('canal_edit', {'id': canal.id}) }}"><button class="edit_canal">Editar</button></a>
            <h2>{{ canal.name }}</h2>
            <h3><u>Missatges</u></h3>
            <ul>
                {% for missatge in canal.getMissatges %}
                    <li>
                        <span>{{ missatge.text }}</span>
                        <span>
                            <button>EDIT</button>
                            <button>DELETE</button>
                        </span>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        </div>
{#    <p>{{ controller_name.name }}</p>#}

    {% endfor %}

    <a href="{{ path('canal_nou') }}"><button id="afegir_canal">Afegir Canal</button></a>

</div>
{% endblock %}
