{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    h1 {
        text-align: center;
    }
    .canal {
        border: 1px solid black;
        padding: 1em;
        margin-bottom: 1em;
    }
    .delete_canal {
        float: right;
    }
    #afegir_canal {
        padding: 1em;
        border-radius: 1em;
        background-color: #5eb5e0;
    }
    button {
        display: inline;

    }
    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
    .categories {
        background-color: #718C00;
        max-width: 20em;
        display: none;
    }
    h4 {
        padding: 0.5em;
    }
    /*#save {*/
    /*    background-color: #718C00;*/
    /*}*/
    /*.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
</style>

<script>
    function toggle(elem) {
        if (elem.nextElementSibling.style.display != 'block') elem.nextElementSibling.style.display = 'block';
        else elem.nextElementSibling.style.display = 'none';
    }
</script>


<h1>Canals</h1>
<a href="{{ path('categories') }}">Gestionar categories dels canals</a>
<a style="float: right" href="{{ path('info') }}">Info</a>

<div id="canals">
    {% if canals is empty %}
        <h2>Benvingut</h2>
        <ul>
            <li>Pots creal el teu primer canal amb el botó de baix "Afegir canal" :)</li>
            <li>Un cop tinguis creat el teu canal podràs afegir-li missatges.</li>
            <li>
                I per saber de quin tipus de canal es tracta al apartat de dalt "Gestionar categories dels canals" podràs afegir categories per després vincular-les als teus canal.
                <ul>
                    <li>
                        Per a vincular/desvincular una categoria a un canal fes click a sobre del canal i des d'allí les podràs gestionar.
                    </li>
                </ul>
            </li>
        </ul>
    {% endif %}
    {% for canal in canals %}
        <div class="canal">
            {{ include('canal/_delete_form.html.twig') }}
            <a href="{{ path('canal_edit', {'id': canal.id}) }}"><button style="float: right; margin-right: 0.5em" class="btn btn-primary">Editar</button></a>
            <h2 style="cursor: pointer" onclick="toggle(this)">{{ canal.name }}</h2>
            <div class="categories">
                <h4>Categories del canal</h4>
                <ul>
                    {% for categoria in canal.getCategories %}
                        <li>{{ categoria.name }} <a style="margin-right: 1em; color: red; float: right;" href="{{ path('desv_categoria_canal', {'canal_id': canal.id, 'categoria_id': categoria.id}) }}"><i class="fas fa-trash"></i></a></li>
                    {% endfor %}
                </ul>
                <a style="display: flex; justify-content: center;" href="{{ path('vincular_categoria', {'canal_id': canal.id}) }}"><button id="">Vincular categoria</button></a>
            </div>
            <h3><u>Missatges</u></h3>
            <ul>
                {% if canal.getMissatges is empty %}
                    Aquí pots afegir missatges
                {% endif %}
                {% for missatge in canal.getMissatges %}
                    <li>
                        <span>{{ missatge.text }}</span>
                        <span>
                            <a href="{{ path('missatge_edit', {'id': missatge.id}) }}"><button class="btn btn-primary"><i class="fas fa-edit"></i></button></a>
                            {{ include('missatge/_delete_form.html.twig') }}
                        </span>
                    </li>
                    <br>
                {% endfor %}
            </ul>
            <a href="{{ path('missatge_nou', {'id_canal': canal.id}) }}"><button class="btn btn-primary btn-circle"><i class="fas fa-plus"></i></button></a>
        </div>
{#    <p>{{ controller_name.name }}</p>#}

    {% endfor %}

    <a href="{{ path('canal_nou') }}"><button id="afegir_canal">Afegir Canal</button></a>

</div>
{% endblock %}
