{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    h1 {
        text-align: center;
    }
    .canal {
        border: 1px solid black;
        padding: 1em;
        margin-bottom: 1em;
    }
    .delete_canal {
        float: right;
    }
    #afegir_canal {
        padding: 1em;
        border-radius: 1em;
        background-color: #5eb5e0;
    }
    button {
        display: inline;

    }
    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
    .categories {
        background-color: #718C00;
        max-width: 20em;
        height: 10em;
        display: none;
    }
    h4 {
        padding: 0.5em;
    }
    /*#save {*/
    /*    background-color: #718C00;*/
    /*}*/
    /*.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
</style>

<script>
    function toggle(elem) {
        if (elem.nextElementSibling.style.display != 'block') elem.nextElementSibling.style.display = 'block';
        else elem.nextElementSibling.style.display = 'none';
    }
</script>


<h1>Canals</h1> <a href="/categories"> Veure categories dels canals</a>

<div id="canals">

    {% for canal in canals %}
        <div class="canal">
            {{ include('canal/_delete_form.html.twig') }}
            <a href="{{ path('canal_edit', {'id': canal.id}) }}"><button style="float: right; margin-right: 0.5em" class="btn btn-primary">Editar</button></a>
            <h2 style="cursor: pointer" onclick="toggle(this)">{{ canal.name }}</h2>
            <div class="categories">
                <h4>Categories del canal</h4>
                <ul>
                    {% for categoria in canal.getCategories %}
                        <li>{{ categoria.name }}</li>
                    {% endfor %}
                </ul>
                <a style="display: flex; justify-content: center;" href="{{ path('canal_nou') }}"><button id="">Vincular categoria</button></a>
            </div>
            <h3><u>Missatges</u></h3>
            <ul>
                {% for missatge in canal.getMissatges %}
                    <li>
                        <span>{{ missatge.text }}</span>
                        <span>
                            <a href="{{ path('missatge_edit', {'id': missatge.id}) }}"><button class="btn btn-primary"><i class="fas fa-edit"></i></button></a>
                            {{ include('missatge/_delete_form.html.twig') }}
                        </span>
                    </li>
                    <br>
                {% endfor %}
            </ul>
            <a href="{{ path('missatge_nou', {'id_canal': canal.id}) }}"><button class="btn btn-primary btn-circle"><i class="fas fa-plus"></i></button></a>
        </div>
{#    <p>{{ controller_name.name }}</p>#}

    {% endfor %}

    <a href="{{ path('canal_nou') }}"><button id="afegir_canal">Afegir Canal</button></a>

</div>
{% endblock %}
